#naturals{
    display: block;
    margin: auto;
}
#naturals img{
    position: relative;
    width: 80px;
}

#sharps img{
    position: absolute;
    width: 40px;
    top: 8px;
}

body{
    background-color: navy;
}